<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PlanetPlace</title>

    <link rel="stylesheet" href="../static/styles/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
           
           $('#content').load("main_image.html");
        
        });
        </script>
</head>
<body>
    <div class="container">
        <div class="head">
            <div class="navbar">
                <div class="logo">
                    <img src="../static/images/icon.png" alt="icon">
                </div>

                <div class="singin">
                    <img src="../static/images/avatar.png" alt="">
                </div>

                <div class="menu">
                    <div class="info">
                        <a href="#info" class="menu-item">info</a>
                    </div>
                    <div class="map">
                        <a href="#map" class="menu-item">map</a>
                    </div>
                </div>
                
            </div>
            <div id="content"></div>    
        </div>
        
    </div>

  
</body>
</html>