<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>

<body>
    <div class="conteiner">
        <div class="head">
            <div class="head-logo">
                <img src="../static/images/icon.png" alt="">
            </div>
            <div class="head-nav">
                <a href="#info">Info</a>
                <a href="#">Map</a>
            </div>
            <div class="head-profile">
                <div class="head-login">
                    <a href="#">
                        <img src="../static/images/avatar.png" alt="login image">
                    </a>
                </div>
                <div class="head-singin">
                    <a href="#">
                        <img src="../static/images/singin.png" alt="singin image">
                    </a>
                </div>
            </div>
            <div class="head-text">
                <h1>Step up to the stars</h1>
                <p>Discover the world around you</p>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="info" id="info">
            
        </div>
    </div>
    <div class="map">
        
    </div>
</body>

<script>
    $(document).ready(function(){
       
       $('.info').load("infoforguest.html");
    
    });
</script>

</html>