<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>For Guests</title>

    <link rel="stylesheet" href="../static/styles/forguests.css">
</head>
<body>
    <div class="main">
        <div class="planet-box">
            <div class="front">
                <img src="/static/images/user planet.png" alt="">
                <h3>Neptune</h3>
            </div>
            <div class="back">
                <h3>Neptune</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi porro et, nisi consequuntur tempore corporis alias ullam autem mollitia. Ipsum ipsam doloremque nihil nulla nisi debitis fuga, asperiores deserunt totam.</p>
            </div>
        </div>
        <div class="planet-box">
            <div class="front">
                <img src="/static/images/user planet.png" alt="">
                <h3>Neptune</h3>
            </div>
            <div class="back">
                <h3>Neptune</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi porro et, nisi consequuntur tempore corporis alias ullam autem mollitia. Ipsum ipsam doloremque nihil nulla nisi debitis fuga, asperiores deserunt totam.</p>
            </div>
        </div>
        <div class="planet-box">
            <div class="front">
                <img src="/static/images/user planet.png" alt="">
                <h3>Neptune</h3>
            </div>
            <div class="back">
                <h3>Neptune</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi porro et, nisi consequuntur tempore corporis alias ullam autem mollitia. Ipsum ipsam doloremque nihil nulla nisi debitis fuga, asperiores deserunt totam.</p>
            </div>
        </div>
        <div class="planet-box">
            <div class="front">
                <img src="/static/images/user planet.png" alt="">
                <h3>Neptune</h3>
            </div>
            <div class="back">
                <h3>Neptune</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi porro et, nisi consequuntur tempore corporis alias ullam autem mollitia. Ipsum ipsam doloremque nihil nulla nisi debitis fuga, asperiores deserunt totam.</p>
            </div>
        </div>
        <div class="planet-box">
            <div class="front">
                <img src="/static/images/user planet.png" alt="">
                <h3>Neptune</h3>
            </div>
            <div class="back">
                <h3>Neptune</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi porro et, nisi consequuntur tempore corporis alias ullam autem mollitia. Ipsum ipsam doloremque nihil nulla nisi debitis fuga, asperiores deserunt totam.</p>
            </div>
        </div>
        <div class="planet-box">
            <div class="front">
                <img src="/static/images/user planet.png" alt="">
                <h3>Neptune</h3>
            </div>
            <div class="back">
                <h3>Neptune</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi porro et, nisi consequuntur tempore corporis alias ullam autem mollitia. Ipsum ipsam doloremque nihil nulla nisi debitis fuga, asperiores deserunt totam.</p>
            </div>
        </div>
        <div class="planet-box">
            <div class="front">
                <img src="/static/images/user planet.png" alt="">
                <h3>Neptune</h3>
            </div>
            <div class="back">
                <h3>Neptune</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi porro et, nisi consequuntur tempore corporis alias ullam autem mollitia. Ipsum ipsam doloremque nihil nulla nisi debitis fuga, asperiores deserunt totam.</p>
            </div>
        </div>
        <div class="planet-box">
            <div class="front">
                <img src="/static/images/user planet.png" alt="">
                <h3>Neptune</h3>
            </div>
            <div class="back">
                <h3>Neptune</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi porro et, nisi consequuntur tempore corporis alias ullam autem mollitia. Ipsum ipsam doloremque nihil nulla nisi debitis fuga, asperiores deserunt totam.</p>
            </div>
        </div>
        
    </div>
</body>
</html>